.signup-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 50px;
}

.signup-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-container label {
  display: block;
  margin-bottom: 5px;
}

.signup-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-container button {
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: #ff0088;
}

.signup-container a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.signup-container a:hover {
  text-decoration: underline;
}

.signup-message {
  text-align: center;
  margin-top: 10px;
  color: green;
}

.signup-error {
  text-align: center;
  margin-top: 10px;
  color: red;
}
